body {
	overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}


.guide-time {
  color: gray;
  margin-top: 5px;
}